{% extends "base.html" %}
{% block content %}

    {% for var in firm %}

        <h2 style="text-decoration: underline;">{{ page_name }}</h2>
        <p class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="font-size: 18px;">
            
            <br>Welcome to {{ var.name }}.<br> <br>We are a law firm you can put your trust in.

            {{ var.description }}
        </p>

        <div class="row featurette"></div>
            <div class="col-md-7"></div>
                <h3 style="text-decoration: underline;">Our Team</h3>
        <div class="col-md-5"></div>
            <img class="img-fluid rounded-3 my-4" src= "{{ var.image_source }}" alt="">
    {% endfor %}        
{% endblock %}


