{% extends "base.html" %}
{% block content %}

<h3 class="bg-white my-blue text-center">Add Question</h3>
<br>
<div class="col-md">
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
        <option selected>Choose an option</option>
        <option value="1">Immigration</option>
        <option value="2">Property</option>
        <option value="3">Family</option>
      </select>
      <label for="floatingSelectGrid">Legal Areas</label>
    </div>
  </div>

{% endblock %}
