{% extends "base.html" %}
{% block content %}
    <h2 style="text-decoration: underline;">{{ page_name }}</h2>

    <div class="col-md-5"></div>
        <img class="img-fluid rounded-3 my-4" src="static/assets/images/house.jpg" alt="">
    
    <p> 
        <h5>You Have Rights as a Job Applicant</h5>
        
         What people don’t know is that they have employment rights even if they are not an employee. A job applicant
         has certain rights even prior to being employed, which include the right to be free from discrimination based
         on age, gender, race, national origin, or religion during the hiring process.
         For example, a prospective employer cannot ask a job applicant certain family-related questions during the
         hiring process.

    </p>
    
    <p> <h5>You Should Receive a Contract of Employment</h5> 

        Employers do not always give employees contracts of employment.
        Whilst legally they do not have to, within two months of starting the job an employee should receive a written
        statement clearly stating the basic details and the main terms and conditions of their employment.
        These would include: job title, expected hours of work, monthly wages, paid holiday and sick leave entitlement,
        details of any applicable pension scheme, minimum notice period, disciplinary process and procedure for
        reporting a grievance.


        <p><h5>You Must Receive Payslips and Deductions Should Be Clear</h5></p>
        
        Employees must receive an itemised payslip that provides a detailed breakdown of their pay and any deductions.
        Employers cannot make illegal deductions from their employees’ wages.
    </p>   

    <p>
        <p><h5">You Shouldn’t be Discriminated Against</h5></p>
        Per point one, employees must not be discriminated against in the workplace. This applies to all forms of
        discrimination including age, disability, sex, race, sexual orientation and religious beliefs.
    </p>

    <p>
        <p><h5">You Should Be Protected Under Health and Safety Protocols</h5></p>
        Health and safety laws also state that employers have a statutory duty to take care of the health and safety of
        their employees by providing a clean environment to work in, first aid equipment, protective clothing, drinking
        water and washing facilities, and ensuring all machinery is safe.
    </p>

     <p>
        <p><h5">You Are Entitled to Annual Leave and Time-Off</h5></p>
        Employees have the right to a certain amount of paid holiday each year. Full-time employees are entitled to 5.6 weeks
        paid leave per year. Part-time workers receive pro-rata entitlement.
        Employees have the right to take unpaid time-off to undergo additional training, attend trade union activities or to
        look after dependents in an emergency.

    </p>

     <p>
        <p><h5>You Are Entitled to Family leave</h5></p>
        Women are entitled to time-off for antenatal care and can take 52 weeks statutory maternity leave. Other eligible
        employees are entitled to take 1 to 2 weeks paternity leave at or around the period in which the baby is due or is born.
        When adopting a child, one of the adoptive parents is entitled to 6 months paid leave and 6 months unpaid leave, and the
        other partner is entitled to paternity leave.
        If an employee receives a dismissal notice while they are pregnant or on maternity leave, the notice must be accompanied
        by a written explanation of the reason.
        After 26 weeks of working for an employer, employees have the right to submit a request for flexible working hours. An
        employee is only allowed one request to work flexibly per year.

    </p>

     <p>
        <p><h5>You May Get Laid-Off or Receive Short-Time Work</h5></p>
        An employer may put an employee on short-time working or lay-off if there is a downturn in the industry and they do not
        have any work. The employee will not get paid if they are laid-off, but they will receive part of their regular income
        if they are on short-time working. In both instances, the employee may be entitled to a payment called ‘guarantee
        payment’ from the employer.
    </p>

     <p>
        <p><h5>Fixed term and part time right</h5></p>
        Fixed-term workers have the same contractual rights as permanent employees in similar roles. However, entitlements to
        holidays and similar rights for part-time workers may be calculated on a pro rata basis.
        There are no specific number of hours that differentiates a part-time worker from a full-time worker. It would vary from
        one company to another.

    </p>

    <p>
        <p><h5>Have Questions About Your Employee Rights?</h5></p>
        If you would like to learn more about your employment rights or have a particular issue you would like guidance on,
        please get in touch with our Employment law specialists at Nottreal Solicitors.
    </p>
    
{% endblock %}
