{% extends "base.html" %}
{% block content %}
<h2 class="heading-margin">{{ page_name }}</h2>
<div class="card p-3 mb-2 bg-light">
    <div class="card-body">
        <div>
            <p>Everyone deserves to be treated fairly at work. But from time to time, things can go wrong. Workplace
                relationships may break down or perhaps you face the risk of losing your job. If you’re involved in a
                disagreement at work, it’s good to know there is someone you can turn to for advice.</p>
            <p>Our employment law solicitors are here to help you deal with a wide range of employment issues and
                provide advice on everything from employment contracts to unfair dismissal. You can talk to us in
                complete confidence and gain reassurance from speaking to someone who understands your situation.</p>
            <p>When you’re facing difficulties at work, it’s natural to have lots of questions and to be concerned about
                your job security but with our in-depth knowledge of employment law; we will describe all of your
                options clearly and simply. We’ll explain what rights you have as an employee and help you plan the best
                route forward to manage your particular situation.</p>
            <p>We serve individuals and businesses by assisting and advising at the outset so that an employment dispute
                does not turn into protracted employment litigation. It is better to invest early to reduce costs
                subsequently.</p>
            <p>Our services include:</p>
            <ul>
                <li>Employment Disputes</li>
                <li>Harassment & Bullying At Work Solicitors</li>
                <li>Parental & Family Friendly Employment Rights</li>
                <li>Settlement Agreements</li>
                <li>Equal Pay Compensation Claims</li>
                <li>Unfair Dismissal Claims</li>
                <li>Employment Tribunal</li>
                <li>Discrimination claims</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}