{% extends "base.html" %}
{% block content %}
<h2 class="heading-margin">{{ page_name }}</h2>
<div class="card p-3 mb-2 bg-dark text-white" >
    <div class="card-body">
        <div> 
            <p>Whether you are experiencing a relationship breakdown or want to agree child contact, Nottreal Solicitors can meet all your legal requirements with compassion and proficiency. Our compassionate team of expert solicitors bring a range of experience to assist you with divorce, issues over children, money, property and cohabitation, at a time when you are faced with the difficult choices on the breakdown of your relationship.</p>
            <p>Our family law department can offer you a range of services suitable to every case. You can be sure your case will be dealt with sensitivity and understanding.</p>
            
            <h5 style="text-decoration: underline;">Children</h5>
            <p>With professional advice on parenting arrangements including residence and contact, our team of advisers will assist you with the difficulties your family may face. Such cases are often the most difficult matters for clients and naturally involve high emotion. We are objective, professional and focused.</p>
            <h5 style="text-decoration: underline;">Divorce</h5>
            <p>Nottreal Solicitors offers a team of experienced Family Law professionals. We provide sensitive, professional and realistic advice, aiding you to deal with the circumstances in a simple and hassle-free way possible.</p>
            <h5 style="text-decoration: underline;">Financial and Property Matters</h5>
            <p>In divorce matters, our experience ranges from relatively straightforward cases with limited resources, to those involving complex issues and considerable assets. We will do our best to agree a financial settlement or in the event that agreement is not possible, achieve a realistic and beneficial arrangement through the courts. Should court involvement be required the court has the power to make the following orders: lump sum payments, property adjustment orders to transfer property into the ownership of a husband or wife, or maintenance payments.</p>
            <p>What we offer:</p>
            <p>Our experienced and knowledgeable family lawyers can advise and represent you in all areas of Family and Relationships Laws, including:</p>
                <div>
                    <ul>
                        <li>Adoption and Guardianship</li>
                        <li>Residence and Contact issues</li>
                        <li>Solicitors Services issues with Children</li>
                        <li>Public Law Proceedings</li>
                        <li>Divorce and Separations</li>
                        <li>Property Disputes</li>
                        <li>Financial Disputes and out of court settlements</li>
                        <p>We have a team of experienced solicitors who are able to offer advice and assistance regarding your family matter and ensure you are reasonably advised of your rights and responsibilities in relation to your matter.</p>
                    </ul>
                </div>
            </div>   
           
           
    </div>
</div>  
{% endblock %}
