{% extends "base.html" %}
{% block content %}
    <h2 class="heading-margin">{{ page_name }}</h2>
    <div class="card p-3 mb-2 bg-dark text-white" >
        <div class="card-body">
            <div> 
                <p>Our immigration lawyers handle all aspects of immigration work from initial applications through to appeals. This enables us to provide a seamless service to clients from the beginning of their immigration journey in the UK, through to British citizenship. </p>
                <p>We regularly act for individuals, charities, unions and businesses, advising on all areas of immigration law, including where it overlaps with other areas of law. We work with solicitors in other departments to provide a holistic service where the needs of a client crossover such as in family, crime or employment matters.</p>
                <p style="font-weight: bold;">Our immigration specialists are known for providing clear immigration advice, tailored for each situation and individual. We understand our clients’ perspective and work in partnership with them to minimise any stress or difficulties that may occur when moving staff and families across the world.</p>
                <p>Our services include:</p>
                    <div>
                        <p>Points Based System applicants, including employers, workers, students and their family members:</p>
                        <ul>
                            <li>Tier 2, advice for both employers and sponsors</li>
                            <li>Sponsorship licence information for employers </li>
                            <li>Investor and start-up visas</li>
                            <li>Global Talent visas</li>
                            <li>Tier 5 Temporary worker visas</li>
                            <li>Tier 4 students</li>
                            <li>All PBS family members and dependents</li>
                            <li>Administrative Review and appeals</li>
                            <li>Skilled workers Visa </li>
                        </ul>
                        <p>Family, Private Life and Entry Clearance visas and applications, including:</p>
                        <ul>
                            <li>Spouse / partner visas</li>
                            <li>Parents and children</li>
                            <li>Extensions of stay</li>
                            <li>Dependent family members</li>
                            <li>Adult dependent relatives</li>
                            <li>Overstayers</li>
                            <li>Deportation</li>
                            <li>Appeals</li>
                        </ul>   
                        <p>EU Law and Brexit:</p>
                        <ul>
                            <li>EU Settlement Scheme, including pre- and settled status applications</li>
                            <li>Derivative residence rights</li>
                            <li>Exclusion and deportation decisions</li>
                            <li>Rights of EU nationals and their family members post-Brexit</li>
                            <li>Appeals</li>
                        </ul>
                        <p>Nationality and Citizenship advice including:</p>
                        <ul>
                            <li>Naturalisation and registration applications</li>
                            <li>Deprivation and nullification decisions</li>
                            <li>Applications for reconsideration and judicial review</li>
                        </ul>
                        <p>Asylum and Detention</p>
                        <ul>
                            <li>Asylum and human rights claims</li>
                            <li>Deportation and asylum</li>
                            <li>Fresh claims</li>
                            <li>Detention and bail</li>
                            <li>Appeals</li>
                        </ul>
                        <p>We provide cost-effective specialist legal services tailored to clients’ needs. </p>   
                        <p>We have a team of experienced solicitors who are able to offer advice and assistance regarding your civil litigation matter and ensure you are reasonably advised of your rights and responsibilities in relation to your matter.</p>
                    </div>
                </div>   
               
               
        </div>
    </div>  
{% endblock %}
