{% extends "base.html" %}
{% block content %}
<div class="row gx-5">
    <div class="col-lg-4 mb-5 mb-lg-0">
        <h3 class="fw-bolder mb-0">Practical solutions tailor made to help you solve any problem</h3>
    </div>
    <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-house"></i></div>
                <h2 class="h5">Property</h2>
                <p class="mb-0"> We have a team of experienced solicitors who are able to offer advice and assistance
                    regarding your property law matter and ensure you are reasonably advised of your rights and
                    responsibilities in relation to your business venture.</p>
            </div>
            <div class="col mb-5 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bank"></i></div>
                <h2 class="h5">Litigation</h2>
                <p class="mb-0">We always strive to settle disputes using alternative methods. If it is not possible to
                    settle your case, we will vigorously defend your rights through the courts and will support you at
                    every stage of the dispute to get a successful outcome for you</p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                <h2 class="h5">Family Law</h2>
                <p class="mb-0">Whether you are experiencing a relationship breakdown or want to agree child contact,
                    Nottreal Solicitors can meet all your legal requirements with compassion and proficiency. Our
                    compassionate team of expert solicitors bring a range of experience to assist you with divorce,
                    issues over children, money, property and cohabitation, at a time when you are faced with the
                    difficult choices on the breakdown of your relationship..</p>
            </div>
            <div class="col h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-briefcase"></i>
                </div>
                <h2 class="h5">Immigration</h2>
                <p class="mb-0">Our immigration lawyers handle all aspects of immigration work from initial applications
                    through to appeals. This enables us to provide a seamless service to clients from the beginning of
                    their immigration journey in the UK, through to British citizenship. Our immigration specialists are
                    known for providing clear immigration advice, tailored for each situation and individual. We
                    understand our clients’ perspective and work in partnership with them to minimise any stress or
                    difficulties that may occur when moving staff and families across the world.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}