{% extends "base.html" %}
{% block content %}
    <h2 class="heading-margin">{{ page_name }}</h2>
    <div class="card p-3 mb-2 bg-dark text-white" >
        <div class="card-body">
            <div> 
                <p>Civil litigation is a legal dispute between two or more parties that seek money damages or specific performance rather than criminal sanctions.  </p>
                <p>Our team cover a range of County Court and High Court claims and defences.</p>
                <p>We aim to offer a prompt, efficient and practical service. We are flexible enough to adapt what we do to the needs of each individual client.</p>
                <p>We always strive to settle disputes using alternative methods. If it is not possible to settle your case, we will vigorously defend your rights through the courts and will support you at every stage of the dispute to get a successful outcome for you.</p>
                <p>Our range of work includes:</p>
                    <div>
                        <ul>
                            <li>Landlord and Tenant - Housing disputes</li>
                            <li>Debt recovery</li>
                            <li>Contractual disputes</li>
                            <li>Service level agreements</li>
                            <li>Civil and commercial claims against companies and individuals</li>
                            <li>International disputes</li>
                            <li>Emergency and interim applications to court to safeguard economic interests </li>
                            <li>Contractual and partnership disputes</li>
                            <li>Alternative Dispute Resolution</li>
                            
                            <p>We have a team of experienced solicitors who are able to offer advice and assistance regarding your civil litigation matter and ensure you are reasonably advised of your rights and responsibilities in relation to your matter.</p>
                        </ul>
                    </div>
                </div>   
               
               
        </div>
    </div>  
{% endblock %}
