{% extends "base.html" %}
{% block content %}
    <h2>{{ page_name }}</h2>
    <br><h4>Timeline</h4><br>

    <div class="col-md-5"></div>
        <img class="img-fluid rounded-3 my-4" src="static/assets/images/house.jpg" alt="">
    
    <p> A typical timeline for a purchase in England, Wales and Northern Ireland is below. Be mindful though that
        timescales vary depending on the buyer's and seller's circumstances, plus conveyancing problems can arise and
        add delays.
        The stamp duty holiday in England, Wales and Northern Ireland for example has added conveyancing delays, as
        solicitors have found themselves inundated with buyers looking to benefit from the holiday.
        <h5 style="text-decoration: underline;">Six weeks to eight months</h5>
        <br><h6>Find a property</h6><br>
         Research the area, scour estate agents and search websites.
    </p>
    
    <p> <h6>Put in an offer</h6> 
        <br>Tell the seller what you're willing to pay and any conditions.<br>
        <p><h5 style="text-decoration: underline;">Four to 12 weeks</h5></p>
        <br><h6>It's accepted</h6><br> Now get a survey to check the property's condition. We can check this by operating a search request on your house which will allow us to see the condition of the property.
    </p>   

    <p> <h6>Exchange</h6> You pay your deposit and can't back out without major cost.
        <p><h5 style="text-decoration: underline;">Instantly to four weeks</h5></p>
        <br><h6>Completion</h6><br>You hand over the rest of the cash in exchange for the keys and deeds. The property's now legally
        yours.
    </p>
{% endblock %}
