{% extends "base.html" %}
{% block content %}

<h2 class="bg-white my-blue text-center">Message Board</h2>
<br>
<h6 class="bg-white my-blue text-center">Recently asked questions</h6>
<br>
<!-- Search Bar-->
<div class="rounded text-center">
  <div class="col-xs-2">
    <form action="{{ url_for('search') }}" method="post">
      <input type="text" name="query" id="query" minlength="3" class="validate" aria-describedby="search-addon" />
      <label for="query"></label>
      <button type="submit" class="btn btn-primary my-blue text-white rounded">Search</button>
    </form>
  </div>
</div>

<br>
<!-- Statement to check results-->
{% if tasks|length > 0 %}
<!-- Accordian-->
<div class="accordion " id="accordionExample">
  {% for task in tasks %}
  <div class="accordion-item border-0 bg-light">
    <h2 class="accordion-header" id="heading-{{ task._id }}">
      <div>
        <button class="accordion-button bg-white my-blue" type="button text-white" data-bs-toggle="collapse"
          data-bs-target="#collapse-{{ task._id }}" aria-expanded="true"
          aria-controls="collapse-{{ task._id }}">
          <strong> {{ task.category_name }} | {{ task.task_name }} <p style="font-size: xx-small;"><em>created by: {{ task.created_by }}</em></p> </strong>
        </button>
      </div>
    </h2>
    <div id="collapse-{{ task._id }}" class="accordion-collapse collapse"
      aria-labelledby="heading-{{ task._id }}">
      <div class="accordion-body">
        <div class="button-placement">
          <!-- Shows content if session is logged in by user-->
          {% if session.user|lower == task.created_by|lower %}
          <a href="{{ url_for('edit_question', task_id=task._id) }}" type=button class="btn btn-primary">EDIT</a>
          <a href="{{ url_for('delete_question', task_id=task._id) }}" type=button class="btn btn-success">Delete</a>
          {% endif %}
        </div>
        <p>Q. {{ task.task_description }}</p>
      </div>
    </div>
  </div>
  <br>
  {% endfor %}
</div>
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}



{% endblock %}