{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="text-center">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope purple"></i></div>
        <h1 class="fw-bolder">My Profile</h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 ">
            <div card-panel>
                <h3 class="text-center">
                    {{ username.upper() }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    
{% endblock %}
