{% extends "base.html" %}
{% block content %}
    <h2 class= "heading-margin">{{ page_name }}</h2>
    <div class="card p-3 mb-2 bg-dark text-white" >
        <div class="card-body">
            <div> 
                <p>Our team have a wealth of experience and expertise in commercial property transactions, acting for an extensive portfolio of clients.</p>
                <p>Our range of work includes:</p>
                    <div>
                        <ul>
                            <li>Drafting of leases</li>
                            <li>Assistance with the process of granting a new lease or transferring an existing lease </li>
                            <li>Lease renewal & notices</li>
                            <li>Land development</li>
                            <li>Acquisition and disposal</li>
                            <li>Leasing, licences and conveyancing </li>
                            <li>Landlord and tenant matters</li>
                            <li>Site re-development / property development </li>
                            <li>Rent reviews</li>
                            <li>Agricultural and Commercial land acquisition</li>
                            <li>Planning applications for residential and commercial use.</li>
                            <p>We have a team of experienced solicitors who are able to offer advice and assistance regarding your property law matter and ensure you are reasonably advised of your rights and responsibilities in relation to your business venture.</p>
                        </ul>
                    </div>
                </div>   
               
               
        </div>
    </div>  
{% endblock %}
