{% extends "base.html" %}
{% block content %}
<!-- Flash message-->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class="text-center">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <h2>{{ page_name }}</h2>
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope purple"></i></div>
        <h1 class="fw-bolder">Register</h1>
        <p class="lead fw-normal text-muted mb-0">Keep track of our services</p>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <form method = "POST" "id="contactForm" novalidate>
                <!-- Username input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="username" type="text" placeholder="Enter a username..." name = "username"
                        data-sb-validations="required" />
                    <label for="username">Username</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A Username is required.</div>
                </div>
                <!-- Password address input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="password" type="password" placeholder="Password" name = "password"
                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Registration Successful!</div>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <!-- Submit Button-->
                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton"
                        type="submit">Submit</button></div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col s12 text-center">
            <p>
                <br>Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>
{% endblock %}
