{% extends "base.html" %}
{% block content %}
    <h2 style="text-decoration: underline;">{{ page_name }}</h2>
    <br><h4>Cryptocurrency and Taxes</h4><br>

     <div class="col-md-5"></div>
        <img class="img-fluid rounded-2 my-4" src="static/assets/images/crypto.jpg" alt="">
    

    <p>Cryptocurrency is the talk of the town right now! Its hype has taken over the world by storm amid the COVID
        pandemic. Right from Elon Musk to Mike Tyson to Kanye West, several people across the globe own one or the other
        cryptocurrencies.
        If you are in this crypto train for profits, well, good move, but if you are under the impression that the
        profit you get out of crypto assets is viewed as a lottery or something, then my friend, you are wrong. To be
        precise, the gains you get out of crypto assets are not tax-free.
    </p>

    <p> 
        <h5>Guidance for filing taxes on Cryptocurrency</h5>
        
         The HMRC (Her Majesty’s Revenue and Customs) has published guidance for filing taxes on cryptocurrency in the
         UK. HMRC does not consider crypto assets to be money or currency. They have grouped crypto assets into four
         main categories. They are:
        <ul>
            <li> Exchange tokens: It is intended to be used as a means of payment. The most well-known token, bitcoin, is an example of an exchange token.</li>
        </ul>
        <ul>
            <li>  Utility tokens: Utility tokens provide the holder with access to particular goods or services on a platform, usually using DLT.</li>
        </ul>
        <ul>
            <li> Security tokens: Token with particular rights or interests in a business, such as ownership, repayment of a specific sum of money, or entitlement to a share in future profits.</li>
        </ul>
        <ul>
            <li> Stablecoins: Crypto-assets that are pegged to the value of fiat money or other assets.</li>
        </ul>
        

    </p>

    <p> 
        <h5>Important guidelines</h5>

        Anyone in the UK who holds crypto assets as a personal investment will be taxed on any profits made on these
        assets. Saying that you only have to pay capital gains tax on overall gains above the annual exempt amount.
        Individuals have to pay taxes for cryptocurrencies received from mining, airdrop, confirmation rewards, and
        crypto received as salary from an employer. The crypto assets donated to charity do not apply to capital gains
        tax unless the donation is more than the acquisition cost.
        According to HMRC, the capital losses from cryptocurrency can be considered for the tax liability. If you sell
        the crypto for loss, then the loss can be deducted to reduce the overall capital gain. Also, exchanges of crypto
        for fiat or crypto for another crypto are both taxable events.
        Overall, be aware of the fact that your crypto portfolio just like your shares portfolio, if you make a profit,
        it will be liable for tax.

    </p>
{% endblock %}
