{% extends "base.html" %}
{% block content %}
<h2 class="heading-margin">{{ page_name }}</h2>
<div class="card p-3 mb-2 bg-dark text-white" >
    <div class="card-body">
        <div> 
            <h5 style="text-decoration: underline;">Wills</h5>
            <p>The wills and probate  team at Nottreal Solicitors appreciate that when it comes to personal wealth planning, tax, trusts and succession your individual concerns are just as important as the technical issues. Our Wills solicitors take time to understand your specific circumstances, family situation and business and financial arrangements.</p>
            <h5 style="text-decoration: underline;">Probate</h5>
            <p>When a person dies, the loved ones have to eventually deal with their estate (money, property and possessions left by the deceased) by collecting in all the money, paying any debts and distributing what is left to those people entitled to it.</p>
            <p>‘Probate’ is a term commonly used when talking about applying to court for the right to deal with a deceased person’s estate. It is sometimes also known as ‘administering the estate’. Probate is the court’s authority given to a person or persons to administer a deceased person’s estate.</p>      
            <p>We have many years of experience in providing legal advice and assistance in dealing with Probate matters. We will endeavour to ensure that the deceased’s estate is dealt with in a smooth manner, which is sensitive to the family members of the deceased.</p>            
        </div>
    </div>  
</div>
{% endblock %}
